nav{
    position: fixed;
    top:0;
    left:0;
    z-index: 11;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    display: block;
    width: 100%;
    height: 45px;
    overflow: hidden;
}

nav .container{
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
    letter-spacing: 5px;
}

/* Message Page */
msg-page{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding: 45px 0 0;
    background-color: #fff;
    transition: 0.15s ease-in-out;
    z-index: 10;
    overflow: scroll;
}

msg-page.open{
    right: 0;
}

/* Sidebar */
.sidebar{
    position: fixed;
    top:0;
    left:-100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    padding:45px 0 0;
    background-color: #eee;
    transition: 0.15s ease-in-out;
    z-index: 10;
}

.sidebar.open{
    left: 0;
}
